html { 
    margin:0; 
    padding:0; 
    background-color:#e3f9fd;
}

* {  
    box-sizing: border-box;  
}  

body {  
    margin: 0;  
    padding: 0;  
    /* background: #292831;   */
    background: #e3f9fd;  
    font-weight: 500;  
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;  
}  
#container {  
    width: 500px;  
    height: 820px;  
    margin: 0 auto;  
}  
div.search {padding: 200px 0;}  
form {  
    position: relative;  
    width: 300px;  
    margin: 0 auto;  
}  
input{  
    border: none;  
    outline: none;  
    width: 100%;  
    height: 42px;  
    padding-left: 13px;  
    padding-right:46px;  
}  
textarea{  
    border: none;  
    outline: none;  

    width: 100%;  
    height: 42px;  
    padding-left: 13px;  
    padding-right:46px;  
}  
/* button {  
    height: 42px;  
    width: 42px;  
    cursor: pointer;  
    position: absolute;  
}   */
.submit-button,.back-button {
    width: 100px;
    height: 40px;
    border-radius: 30px;
    font-family: "Avenir";
    font-size: 1em;
    outline: none;
}

.submit-button{
    position: relative;
    top: 20px;
    left: 120px;
    right: 10px;
    background-color: white;
}

.back-button{
    position: relative;
    top: 20px;
    left: 170px;
    right: 10px;
    background-color: white;
}

/*搜索框4*/  
.bar4 {background: #93c4dd;}  
.bar4 form {  
    background: #F9F0DA;
    border-bottom: 2px solid #93c4dd;  
}  
.bar4 input{  
    background: transparent;  
}  
.bar4 textarea{  
    background: transparent;  
}  
/* .bar4 button {  
    top: 0;  
    right: 0;  
}  
.bar4 button:before {  
    content: "\f178";  
    font-family: FontAwesome;  
    font-size: 20px;  
    color: #93c4dd;  
}   */

.up {
    width: 40%;
    float:left;
    /* height: 100px; */
    background-color: #e3f9fd;
    text-align: center;
    /* position: relative; */
    /* border: 1px solid #3B6273; */
}
.down {
    width: 60%;
    float:left;
    height: 4000px;
    background-color: #93c4dd;
    /* border: 1px solid #3B6273; */
}

#icon {
    position: relative;
    top:180px;
    width: 200px;
    height: 200px;
}

